@import url('https://fonts.googleapis.com/css2?family=Poppin:wght@300;400;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:
    linear-gradient(to right,#000,#3a0000);
    color:white;
    overflow:hidden;
}



header{
    width:100%;
    padding:20px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid red;
}

.logo{
    font-size:40px;
    font-weight:800;
    font-style:italic;
}

nav a{
    color:red;
    text-decoration:none;
    margin-left:40px;
    font-size:22px;
    font-weight:700;
    transition:.3s;
}

nav a:hover{
    color:white;
}



.home{
    width:100%;
    height:85vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:0 100px;
}

/* LEFT */

.left{
    width:50%;
    margin-left:100px;
}

.left h1{
    font-size:65px;
    font-weight:700;
    font-style:italic;
}

.left h1 span{
    color:red;
    text-decoration:underline;
}

.left h2{
    margin-top:10px;
    font-size:45px;
    font-style:italic;
}

.left h2 span{
    color:red;
    text-decoration:underline;
}

.left p{
    margin-top:20px;
    font-size:25px;
    color:#d6d6d6;
    line-height:35px;
    font-style:italic;
}

.socials{
    margin-top:25px;
}

.socials a{
    width:45px;
    height:45px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    background:red;
    color:black;
    margin-right:8px;
    text-decoration:none;
    transition:.3s;
}

.socials a:hover{
    background:white;
}

button{
    margin-top:35px;
    padding:10px 28px;
    border:none;
    border-radius:20px;
    background:red;
    color:white;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:white;
    color:red;
}

/* RIGHT */

.right{
    width:40%;
    display:flex;
    justify-content:center;
}

.image-box{
    width:380px;
    height:470px;
    border-radius:50%;
    overflow:hidden;
    border:10px solid white;
    background:white;
}

.image-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}



